
        <ul class="nav flex-column text-center">
            <li class="nav-item">
                <button type="button" class="btn" (click)="go_Home()"><img src="../../../../assets/img/basic_home.png"></button>
            </li>
            <li class="nav-item">
                <img src="../../../../assets/img/basic_sheet_pen.png" >
            </li>
            <li class="nav-item">
                <button type="button" class="btn" (click)="go_Users()"><img src="../../../../assets/img/basic_archive_full.png" ></button>
            </li>
        </ul>

