<!-- <ul class="nav flex-column text-center">
  <li class="nav-item">
    <a type="button" class="btn" (click)="go_Home()"
      ><img src="../../../../assets/img/basic_home.png"
    /></a>
  </li>
  <li class="nav-item">
    <img src="../../../../assets/img/basic_sheet_pen.png" />
  </li>
  <li class="nav-item">
    <a type="button" class="btn" (click)="go_Users()"
      ><img src="../../../../assets/img/basic_archive_full.png"
    /></a>
  </li>
</ul> -->

<div class="bg-light border-right sidebar-wrapper">
  <!-- <div class="sidebar-heading">Start Bootstrap</div> -->
  <div class="list-group list-group-flush">
    <a href="#" class="list-group-item list-group-item-action bg-light"
      ><i class="fa fa-bar-chart" aria-hidden="true"></i> Dashboard</a
    >
    <a href="#" class="list-group-item list-group-item-action bg-light"
      ><i class="fa fa-users" aria-hidden="true"></i> Users</a
    >
    <a href="#" class="list-group-item list-group-item-action bg-light"
      >Overview</a
    >
    <a href="#" class="list-group-item list-group-item-action bg-light"
      >Events</a
    >
    <a href="#" class="list-group-item list-group-item-action bg-light"
      >Profile</a
    >
    <a href="#" class="list-group-item list-group-item-action bg-light"
      >Status</a
    >
  </div>
</div>
