.nav{
    background-color: lightgray;
    width: 90px;
}
.nav-item{
    padding: 10px;
    
}
.nav-item img{
    padding: 5px 0 5px 0;
    width: 20px; 
    height: auto;
}
.nav-item:hover{
    background-color: gray;
}