<div class="row text-center">
    <div class="col ">
        <div class="row ">
            <div class="col">
                Авторизация
            </div>
        </div>
        <div class="row InputContent">
            <div class="col">
                <div class="row">
                    <div class="col">
                        Логин
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input type="text" [(ngModel)]="Login">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                       Пароль
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input type="text" [(ngModel)]="Password">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <a class="btn btn-lg btn-primary" (click)="Auth()">Войти</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
